$grey-900: #111111;
$black-111111: #111111;
$pink-500: #E91E63;

$red-A700: #D50000;
$white: #E0E0E0;
$black: #111111;

// MEDIA QUERY 
$screen-xl: 1300px;
$screen-lg: 1200px;
$screen-m: 512px;

$margin-lg: 96px;
$margin-m: 32px;
$margin-s: 20px;

$image-lg: 384px;
$image-xl: 512px;

.mv-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mv-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}