$grey-900: #111111;
$black-111111: #111111;
$pink-500: #E91E63;

// MEDIA QUERY 

$screen-lg: 1024px;
$screen-m: 512px;

$margin-lg: 96px;
$margin-m: 32px;
$margin-s: 20px;

.mv-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mv-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}